<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="FolderLocation" value="D:\Project_Dotnet\json" />
	</appSettings>

	<connectionStrings>
		<add name="DefaultConnection" connectionString="Server=.;Database=Broadway;Trusted_Connection=True;TrustServerCertificate=true" />
	</connectionStrings>
</configuration>